html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);

  position: absolute;
  transition: all 250ms ease-in;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  width: 100%;
}

.polaroid:hover {
  transform: rotate(0);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .8);
  z-index: 4;
}

figure:nth-child(1) {
  top: 100px;
  left: 20%;
  transform: rotate(-12deg);
  z-index: 1;
}

figure:nth-child(2) {
  top: 150px;
  left: 288px;
  transform: rotate(5deg);
  z-index: 3;
}

figure:nth-child(3) {
  top: 100px;
  left: 384px;
  transform: rotate(33deg);
  z-index: 2;
}

figure {
  position: relative;
  overflow: hidden;
}

figcaption {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  margin: 0;
}
